body {
    background-color: #c6d0f5;
    padding:0;
    font-style: italic;
    margin:0;
    background-image: url(https://preview.colorkit.co/color/add8e6.png?static=true);
    background-size: 1560PX;
}

hr {
    width: 50%;
    border-top: 5px dotted;
}

div.container img.container {
    border-radius: 30%;
    max-width: 50%;
    max-height:90%;
    float: left;    
    margin-left: 100px;
    margin-right: 20px;
}

div.container img.container:hover {
    width: 195px;
    height: 250px;
    transform: scale(1.1);  
}

ul {
    list-style-type: disc;
    margin-left: 30px;
}


p {
    margin-left: 30px;
}

h2 {
    margin-left: 30px;
}

h3 {
    margin-left: 30px;
}


ul.navigation {
    display:flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw; 
    margin: 0;
    list-style-type: none;
    background-color: rgb(22, 171, 197);
    padding: 0;
}

ul.navigation li {
    background-color: rgb(19, 154, 191);
    float: left;
}

ul.navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navigation a:hover:not(.active) {
    background-color: rgb(34, 146, 177);
    color: rgb(1, 95, 196);
}

ul.navigation a.active {
    color: white;
}

.active {
    background-color: rgb(35, 96, 146);
}